__Situación 7:__

Necesitamos generar una lista de tuplas con los nombres de los estudiantes y el código ID de cada uno de ellos para la plataforma de análisis de datos. La creación del código consiste en concatenar la primera letra del nombre del estudiante Con un número aleatorio de O a 999. LOS datos recibidos corresponden a una lista con los nornbres de cada estudiante.

__¿Vamos a resolver este desafío?__

Para facilitar nuestra comprensión del proceso, vambs a trabajar con un grupo de 5 estudiantes: embargo, puedes probar otros casos para practicar.

In [1]:
nombres = ["juan", "maria", "Jose", "Claudia", "ana"]

In [2]:
from random import randint
def genara_numero():
    return randint(0,999)

In [3]:
genara_numero()

923

In [6]:
codigo_estudiante = []

for i in range(len(nombres)):
    codigo_estudiante.append((nombres[i], nombres[i][0] + str(genara_numero())))

In [7]:
codigo_estudiante

[('juan', 'j306'),
 ('maria', 'm295'),
 ('Jose', 'J992'),
 ('Claudia', 'C927'),
 ('ana', 'a96')]

In [8]:
def promedio (lista:list=[0])->float:
    calculo = sum(lista)/len(lista)
    return calculo